<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Paso1Java</display-name>
    <servlet-name>Paso1Java</servlet-name>
    <servlet-class>Paso1Java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paso1Java</servlet-name>
    <url-pattern>/Paso1Java</url-pattern>
  </servlet-mapping>
  <display-name>ServidorPE_2TRI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Paso2Java</display-name>
    <servlet-name>Paso2Java</servlet-name>
    <servlet-class>Paso2Java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paso2Java</servlet-name>
    <url-pattern>/Paso2Java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paso3Java</display-name>
    <servlet-name>Paso3Java</servlet-name>
    <servlet-class>Paso3Java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paso3Java</servlet-name>
    <url-pattern>/Paso3Java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resumen</display-name>
    <servlet-name>Resumen</servlet-name>
    <servlet-class>Resumen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resumen</servlet-name>
    <url-pattern>/Resumen</url-pattern>
  </servlet-mapping>
</web-app>