<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HolaMundoServlet</display-name>
    <servlet-name>HolaMundoServlet</servlet-name>
    <servlet-class>HolaMundoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolaMundoServlet</servlet-name>
    <url-pattern>/HolaMundoServlet</url-pattern>
  </servlet-mapping>
  <display-name>1erProyecto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VariablesServlet</display-name>
    <servlet-name>VariablesServlet</servlet-name>
    <servlet-class>VariablesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VariablesServlet</servlet-name>
    <url-pattern>/VariablesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaludoPersona</display-name>
    <servlet-name>SaludoPersona</servlet-name>
    <servlet-class>SaludoPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaludoPersona</servlet-name>
    <url-pattern>/SaludoPersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioFuera</display-name>
    <servlet-name>FormularioFuera</servlet-name>
    <servlet-class>FormularioFuera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioFuera</servlet-name>
    <url-pattern>/FormularioFuera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormulariodePE</display-name>
    <servlet-name>FormulariodePE</servlet-name>
    <servlet-class>FormulariodePE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulariodePE</servlet-name>
    <url-pattern>/FormulariodePE</url-pattern>
  </servlet-mapping>
</web-app>